# Non-relevant folders
circuitscape/
GIS/
migrate/
SNPs/
DOCUMENTATION/old/

EDA/SCRIPTS/Rscripts/Routput/
EDA/SCRIPTS/Rscripts/old/

Fst/deprecated/
Fst/Rscripts_local/Routput/

GIS/QGIS/
GIS/SCRIPTS/old/

pop-structure/deprecated/
pop-structure/figures/
pop-structure/piedata/

pop-structure/STRUCTURE/coombs/DATA/deprecated/
pop-structure/STRUCTURE/SCRIPTS/Routput/
pop-structure/TESS/

PrelimPopGen/Routput/

SNPs/DATA/deprecated/
SNPs/DATA/Metadata/

modeling/bayesian/coombs/
modeling/bayesian/local/Routput/
modeling/bayesian/local/deprecated/
modeling/bayesian/local/sandbox/
modeling/input_data/
modeling/deprecated/

.DS_Store
software/
